<header>
<h1>Animals Express App</h1>
</header>
<ul>
    <li><a href="/animals/">Home</a>
    <li><a href="/animals/new">List a New Species</a></li>
    <li><a href="https://www.worldwildlife.org/" target="_blank">World Wildlife Fund</a></li>
    <li><a href="https://www.iucnredlist.org/" target="_blank">IUCN Red list</a></li>
  </ul>